*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section.section-login {
    background-color: #224c98;
    padding: 28px 10rem;
}
section.section-login .banner-content {
    color: #fff;
}
section.section-login .login-content {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 3rem 4rem 4rem 4rem;
    border-radius: 5px;
}
section.section-login .login-foot {
    color: #fff;
    padding-top: 10rem;
}
section.section-login .form-group {
    padding: 1rem 0;
}
section.section-login .banner-content img {
    vertical-align: middle;
    width: 200px;
    margin-right: 25px;
}
section.section-login .login-foot a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}


